In [6]:
import pandas as pd

In [7]:
username = {"anvar": "anvarbek223", "olim": "olimtoy", "maryam": "mary2345", "javoxir": "jovaRap"}
emails = {"anvar": "anvar27@gmail.com", "olim": "olim4ikov@mail.ru", "maryam": "mary8@yandex.ru", "javoxir": "jovaRap@umail.uz"}

data = {
    'username': username,
    'email': emails
}

df = pd.DataFrame(data)

In [8]:
df

            username              email
anvar    anvarbek223  anvar27@gmail.com
olim         olimtoy  olim4ikov@mail.ru
maryam      mary2345    mary8@yandex.ru
javoxir      jovaRap   jovaRap@umail.uz

In [9]:
df.index

Index(['anvar', 'olim', 'maryam', 'javoxir'], dtype='object')

In [10]:
data2 = {
    'username': {"olim": "olimjon21", "maryam": "maryam2020"},
    'email': {"olim": "olimjon21@mail.ru", "maryam": "maryam20@gmail.com"}
}

In [11]:
df2 = df.append(pd.DataFrame(data2))

C:\Users\ravsh\AppData\Local\Temp\ipykernel_9076\289703299.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df.append(pd.DataFrame(data2))

In [12]:
newind = pd.Index(['olim', 'nafisa', 'hamida'])
newind

Index(['olim', 'nafisa', 'hamida'], dtype='object')

In [13]:
newind.isin(df2.index)

array([ True, False, False])

In [14]:
df2.index.difference(newind)

Index(['anvar', 'javoxir', 'maryam'], dtype='object')

In [15]:
df2.index.union(newind)

Index(['anvar', 'hamida', 'javoxir', 'maryam', 'maryam', 'nafisa', 'olim',
       'olim'],
      dtype='object')

In [16]:
df2.index

Index(['anvar', 'olim', 'maryam', 'javoxir', 'olim', 'maryam'], dtype='object')

In [18]:
df2.index.unique()

Index(['anvar', 'olim', 'maryam', 'javoxir'], dtype='object')

In [19]:
df2.index.delete(0)

Index(['olim', 'maryam', 'javoxir', 'olim', 'maryam'], dtype='object')

In [20]:
df2.index

Index(['anvar', 'olim', 'maryam', 'javoxir', 'olim', 'maryam'], dtype='object')

In [21]:
df2

            username               email
anvar    anvarbek223   anvar27@gmail.com
olim         olimtoy   olim4ikov@mail.ru
maryam      mary2345     mary8@yandex.ru
javoxir      jovaRap    jovaRap@umail.uz
olim       olimjon21   olimjon21@mail.ru
maryam    maryam2020  maryam20@gmail.com

In [24]:
df2.index.is_unique

False

In [25]:
df2.index.is_monotonic

False

In [26]:
df2.index.is_unique

False