In [1]:
import pandas as pd
from pandas import Series

In [2]:
cars_dict = {'Malibu': 4000, 'Lacetti': 2000, 'Toyota': 1000, 'Mazda': 8000}

In [3]:
type(cars_dict)

dict

In [5]:
cars = Series(cars_dict)
cars

Malibu     4000
Lacetti    2000
Toyota     1000
Mazda      8000
dtype: int64

In [6]:
type(cars)

pandas.core.series.Series

In [8]:
cars = Series({'Malibu': 4000, 'Lacetti': 2000, 'Toyota': 1000, 'Mazda': 8000})
cars

Malibu     4000
Lacetti    2000
Toyota     1000
Mazda      8000
dtype: int64

In [9]:
'Malibu' in cars

True

In [10]:
cars['Malibu']

4000

In [11]:
models = ['Lacetti', 'Honda', 'Toyota', 'Mazda']

In [12]:
cars = Series(cars_dict, models)

In [13]:
cars

Lacetti    2000.0
Honda         NaN
Toyota     1000.0
Mazda      8000.0
dtype: float64