In [5]:
import pandas as pd
from pandas import Series

In [6]:
cars_dict = {'Malibu': 4000, 'Lacetti': 2000, 'Toyota': 1000, 'Mazda': 8000}

In [7]:
type(cars_dict)

dict

In [8]:
cars = Series(cars_dict)
cars

Malibu     4000
Lacetti    2000
Toyota     1000
Mazda      8000
dtype: int64

In [9]:
type(cars)

pandas.core.series.Series

In [10]:
cars = Series({'Malibu': 4000, 'Lacetti': 2000, 'Toyota': 1000, 'Mazda': 8000})
cars

Malibu     4000
Lacetti    2000
Toyota     1000
Mazda      8000
dtype: int64

In [11]:
'Malibu' in cars

True

In [12]:
cars['Malibu']

4000

In [13]:
models = ['Lacetti', 'Honda', 'Toyota', 'Mazda']

In [14]:
cars = Series(cars_dict, models)

In [15]:
cars

Lacetti    2000.0
Honda         NaN
Toyota     1000.0
Mazda      8000.0
dtype: float64

In [16]:
cars.isnull()

Lacetti    False
Honda       True
Toyota     False
Mazda      False
dtype: bool

In [18]:
cars.notnull()

Lacetti     True
Honda      False
Toyota      True
Mazda       True
dtype: bool

In [19]:
cars.name = 'Avtosalon'

In [22]:
cars.index.name = 'Modellar'

In [23]:
cars

Modellar
Lacetti    2000.0
Honda         NaN
Toyota     1000.0
Mazda      8000.0
Name: Avtosalon, dtype: float64